@{ ViewData["Title"] = "Tela Login";
    Layout = null; 
  }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link href="~/css/style-login.css" rel="stylesheet" />
</head>
<body>
    <div class="logo">
        <img src="~/img/logo.png" alt="" />
        Rastro+
    </div>
    
    <div class="login-form">
        <div class="text">
            Faça login na sua conta
        </div>
        <form>
            <label for="industria" class="radio">
                <input type="radio" id="industria" name="same" class="radio-input" checked />
                <div class="radio-radio"></div>
                Indústria
            </label>

            <label for="distribuidor" class="radio">
                <input type="radio" id="distribuidor" name="same" class="radio-input" />
                <div class="radio-radio"></div>
                Distribuidor
            </label>

            <div class="field">
                <div class="fas fa-user">
                </div>
                <input type="text" id="email" placeholder="Email">
            </div>
            <div class="field">
                <div class="fas fa-lock">
                </div>
                <input type="password" id="senha" placeholder="Senha">
            </div>

            <div class="field">
                <button type="button" class="btn" id="btnLogar" onclick="index.btnLogar()">
                    <span class="button-text">Entrar</span>
                </button>
            </div>

        </form>
        <div class="problemas">
            Problemas? <a href="#">Contato</a>
        </div>
    </div>

    <script src="~/views/Login/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>