@{
    ViewData["Title"] = "Tela Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>

    <div class="container-fluid">

        <br />
        <div class="section-header">
            <h3>Rastrear</h3>
        </div>
        <hr class="light" />
    </div>

</section>
