@{
    ViewData["Title"] = "Tela Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="~/css/style-rastrear.css" rel="stylesheet" />
}

@section js {
    <script src="~/views/Rastrear/index.js"></script>
}

<section id="section">
    <div class="title">
        <i class="fas fa-search-location"></i>
        <h1 class="titulo">Área para Rastrear Protése</h1>
    </div>
    <div class="flexbox">

        <div class="area-principal">
            <h1>Rastrear Protése</h1>
            <div class="tudo">

                <div class="input-pesquisa">
                    <label>Código</label>
                    <input type="text" class="search" id="codigo" placeholder="Código" />
                </div>

                <div class="input-pesquisa">
                    <label>Lote</label>
                    <input type="text" class="search" id="lote" placeholder="Lote" />
                </div>

                <div class="input-pesquisa">
                    <label>Hospital</label>
                    <input type="text" class="input-hospital" id="hospital" placeholder="Hospital" />
                </div>

            </div>
            <div class="botaoBuscar">
                <input type="button" class="btn" value="Buscar" id="btnbuscar" onclick="index.BtnRastrear();" />
                <img class="loading-login" id="gif-login" src="~/img/loading-login.gif" style="width: 35px; height: 30px; display: none;" />
            </div>

        </div>

        <div class="area-dados" id="dadosbusca"><h5>aguardando...</h5></div>
    </div>
</section>
