
@{
    ViewData["Title"] = "Pesquisar Perfil";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

@section js {
    <script src="~/views/CadastroIndustria/indexObterPerfis.js"></script>
}

@section css {
    <style>
        body {
            max-width: 800px;
            height: 500px;
        }
    </style>
    <link href="~/css/style-visualizar.css" rel="stylesheet" />
}

<section>
    <h1>Pesquisar Perfis</h1>
    <hr />

    <div class="pesquisar">
        
        <input type="text" name="nome" id="nome" placeholder="Perfil" />
        
        <div class="icone-pesquisa">
            <a id="btnPesquisar" onclick="indexObterPerfis.btnPesquisarOnClick()">
                <i class="fa fa-search"></i>
            </a>
        </div>
        
    </div>

    <div class="table-box" id="table">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Função</p>
            </div>
            <div class="table-cell">
                <p>Descrição</p>
            </div>
            <div class="table-cell last-cell">
                <p>Ação</p>
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell first-cell">
                <p>aguardando à consulta...</p>
            </div>
        </div>

    </div>

</section>

