@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextaccessor
@{
    ViewData["Title"] = "indexListar";
    Layout = "~/Views/Shared/_Sider.cshtml";
}

@section js {
    <script src="~/views/CadastroIndustria/indexListar.js"></script>
    <script src="~/lib/fancybox-master/dist/jquery.fancybox.js"></script>
    <script>
        $(".dropdown").click(function () {
            if ($(".dropdown ul").hasClass("active"))
                $(".dropdown ul").removeClass("active");
            else
                $(".dropdown ul").addClass("active");
        });

        $(".dropdown ul li").click(function () {
            var text = $(this).text();
            $(".default_option").text(text);
            $(".default_option ul").removeClass("active");
        });

    </script>
}

@section css {

    <link href="~/css/style-listar.css" rel="stylesheet" />
    <link href="~/lib/fancybox-master/dist/jquery.fancybox.css" rel="stylesheet" />
}

<section>
    <div class="title">
        <i class='bx bx-buildings'></i>
        <h1>Listagem de Indústrias</h1>
    </div>

    <div class="pesquisa">

        <div class="wrapper">
            <div class="search_box">
                <div class="dropdown">
                    <div class="default_option">Nome</div>
                    <ul>
                        <li>Nome</li>
                        <li>CNPJ</li>
                    </ul>
                </div>
                <div class="search_field">
                    <input type="text" class="input" id="industria" placeholder="Buscar">
                    <i class="fas fa-search" id="iconsearch" onclick="indexListar.btnPesquisarOnClick(@Html.Raw(httpContextaccessor.HttpContext.User.Claims.ToList()[2].Value))"></i>
                </div>
            </div>
        </div>

        <div class="retorno" id="retorno">
            Retorno - 0
        </div>

    </div>

    <div class="table-box" id="table">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Id</p>
            </div>
            <div class="table-cell">
                <p>Nome</p>
            </div>
            <div class="table-cell">
                <p>CNPJ</p>
            </div>
            <div class="table-cell">
                <p>Telefone</p>
            </div>
            <div class="table-cell last-cell">
                <p>Açoes</p>
            </div>
        </div>

        <div class="table-row">
            <div class="table-cell first-cell">
                <p>aguardando à consulta...</p>
            </div>
        </div>

    </div>

</section>
