@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    @RenderSection("css", false)
</head>
<body>
    <main id="main">

        @RenderBody()

    </main>
</body>
    @RenderSection("js", false)
</html>
