@{ ViewData["Title"] = "Enviar E-mail para Distribuidor";
    Layout = "~/Views/Shared/_LayoutModal.cshtml"; }

@section css {
    <style>
        body {
            max-width: 550px;
            max-height: 400px;
            height: 350px;
        }
    </style>
    <link href="~/css/style-email.css" rel="stylesheet" />
}

@section js {

    <script src="~/views/CadastroDistribuidor/indexSMS.js"></script>
}

<section>
    <h1>Envio de SMS</h1>
    <hr />
    <div class="dados">
        <div class="input-dados">
            <label>Telefone</label>
            <input type="text" id="telefone" value="@ViewBag.telldist" />
        </div>

        <div class="input-dados">
            <label>Mensagem</label>
            <textarea rows="5" id="mensagem"></textarea>
        </div>

        <input type="button" id="btnEnviar" class="btn" value="Enviar SMS" onclick="index.btnEnviar();" />
    </div>

</section>
