@{ 
    ViewData["Title"] = "Tela Default";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@section css {
    <link href="~/css/style-default.css" rel="stylesheet" />
}

<section>
    <div class="infoText">Software que permitará a sua empresa ter o melhor gerenciamento possivel :)</div>
    <br />
    <section class="grid3">
        <div class="grid3-item">
            <img src="~/img/cadastro.png">
            <p>Cadastros</p>
        </div>
        <div class="grid3-item">
            <img src="~/img/lancamento.png">
            <p>Lançamentos</p>
        </div>
        <div class="grid3-item">
            <img src="~/img/rastreamento.jpg">
            <p>Rastreamento</p>
        </div>
        <div class="grid3-item">
            <img src="~/img/relatorio.jpg">
            <p>Relatórios</p>
        </div>
    </section>

</section>
