@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextaccessor

@{ ViewData["Title"] = "Tela Default";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section css {
    <link href="~/css/style-default.css" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
}

@section js {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="~/views/Default/index.js"></script>
}

<section id="info-grafico">
    <div class="dados" id="dados">
        <div class="info">
            <i class='bx bx-line-chart-down'></i>
            <h1>Quantidade de Notas Importadas</h1>
        </div>

        <div class="ano">
            <label>Ano</label>
            <input type="number" id="ano" value="2020" />
        </div>

    </div>

    <div class="dados" id="dadosEstoque" style="display:none;">
        <div class="info estoque">
            <i class='bx bx-task-x'></i>
            <h1>Menores quantidade de estoque por produto</h1>
        </div>
    </div>

    <div class="dados" id="dadosGanho" style="display:none;">
        <div class="info">
            <i class='bx bxs-coin'></i>
            <h1>Ganhos nos ultimos Tempos</h1>
        </div>
    </div>
    <br />
    <div class="tudo">

        <div class="grafico">
            <canvas id="graficoAno" width="400" height="150"></canvas>
            <canvas id="graficoEstoque" width="400" height="150"></canvas>
            <canvas id="graficoGanho" width="400" height="150"></canvas>
        </div>
        <div class="opcoes">

            <div class="item" id="notas">
                <a href="javascript:index.geraGraficoAno()">
                    <i class='bx bx-line-chart-down'></i>Notas
                </a>
            </div>
            

            @{ if (httpContextaccessor.HttpContext.User.Claims.ToList()[1].Value == "Distribuidor")
                {
                    <div class="item" id="estoque">
                        <a href="javascript:index.geraGraficoEstoque()">
                            <i class='bx bx-task-x'></i>Estoque
                        </a>
                    </div> 
                } 
            }

            <div class="item" id="ganho">
                <a href="javascript:index.geraGraficoGanho()">
                    <i class='bx bxs-coin'></i>Ganhos
                </a>
            </div>
            
        </div>
    </div>

</section>
