@{
    ViewData["Title"] = "Tela Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {
    <link href="~/css/style-cadastro.css" rel="stylesheet" />
}

@section js {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="~/views/CadastroProdIndust/index.js"></script>
}

<section>
    <input type="hidden" id="hfIdEditar" value="@ViewBag.IdEditar" />

    <div class="wrapper">
        <div class="title">
            <i class="fas fa-box"></i>
            Produto
            <a class="align-content-end" href="/CadastroProdIndust/indexListar">
                <i class="fa fa-fw fa-cogs"></i>
            </a>
        </div>
        <div class="form">
            <div class="inputfield">
                <label>Código de Referência</label>
                <input type="text" id="cod_ref" class="input" onfocus="index.limpaInfo()">
            </div>
            <div class="inputfield">
                <label>Descrição</label>
                <input type="text" id="descricao" class="input">
            </div>

            <div class="inputfield">
                <input type="submit" value="Cadastrar" class="btn" id="btnCadastrar" onclick="index.btnCadastrar()">
            </div>
        </div>
    </div>

</section>
