#section {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 120px;
}

.dados {
    margin-top: 10px;
    padding-top: 10px;
}

.dados .info {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    color: #4682B4;
}

.dados i {
    font-size: 25px;
}

.dados .ano {
    float: right;
    margin-right: 147px;
}

.dados .ganho {
    margin-right: 174px;
}

.dados .ano input {
    width: 70px;
    height: 30px;
    padding: 5px;
    border: 1px solid #d5dbd9;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.dados .ano input:focus {
    border: 1px solid #4682B4;
}

.tudo {
    display: flex;
    width: 100%;
}

.grafico {
    width: 100%;
}

.opcoes {
    margin: 3px 0 0 10px;
    font-size: 20px;
    color: #4682B4;
    width: 156px;
}

.bx {
    font-size: 20px;
    margin-right: 5px;
}

.item {
    font-size: 17px;
    background: rgba(255,255,255,0.5);
    box-shadow: 3px 3px #5092c8;
    width: 85px;
    border-radius: 5px;
    padding: 5px 0 0 5px;
    margin-bottom: 7px;
}

.item a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #4682B4;
}

.item a i {
    margin-bottom: 8px;
}

.item a:hover {
    color: #1f1e37;
}

.selecionado {
    text-decoration: underline;
}

@media screen and (max-width: 968px) {
    #section {
        padding: 0;
        width: 98%;
        margin: 0 auto; 
    }
    .dados .info h1{
        font-size: 13px;
    }
    .dados .info i {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .tudo {
        flex-wrap: wrap;
    }
    .item {
        margin-bottom: 0;
        margin-right: 7px;
    }
    .item a {
        font-size: 15px;
    }
    .item a i{
        font-size: 16px;
    }
    .opcoes {
        margin-top: 10px;
        display: flex;
        width: 400px;
        flex-direction: row;
    }
    .dados .ano{
        width: 60%;
        text-align: right;
        margin: 0 auto;
    }
    .dados .ganho {
        margin-right: 6px;
    }
}

