#info-grafico {
    max-width: 1000px;
    margin: 0 auto;
}

.dados {
    margin-top: 10px;
    padding-top: 10px;
}

.dados .info {
    float: left;
    margin-left: 30px;
    color: #4682B4;
    text-decoration: underline;
}

.dados .ano {
    float: right;
}

.dados .ano input {
    width: 70px;
    height: 30px;
    padding: 5px;
    border: 1px solid #d5dbd9;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.dados .ano input:focus {
    border: 1px solid #4682B4;
}

@media screen and (max-width: 968px) {
    #info-grafico {
        max-width: 90%;
        margin: 0 auto;
    }
}

