#info-grafico {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 120px;
}

.dados {
    margin-top: 10px;
    padding-top: 10px;
}

.dados .info {
    text-align: center;
    padding-right: 120px;
    color: #4682B4;
    text-decoration: underline;
}

.dados .ano {
    float: right;
    margin-right: 147px;
}

.dados .ano input {
    width: 70px;
    height: 30px;
    padding: 5px;
    border: 1px solid #d5dbd9;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.dados .ano input:focus {
    border: 1px solid #4682B4;
}

.tudo {
    display: flex;
    width: 100%;
}

.grafico {
    width: 100%;
}

.opcoes {
    margin: 3px 0 0 10px;
    font-size: 20px;
    color: #4682B4;
    width: 156px;
}

.opcoes i{
    color: #4682B4; 
}

.opcoes i:hover{
    color: #38526f; 
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 968px) {
    #info-grafico {
        padding-left: 0;
    }
    .dados .info {
        font-size: 11px;
    }
}

